* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    background-color: #fff;
}

body {
    background-color: #fff;
    padding-left: 2em;
    padding-right: 2em;
}

nav {
    height: 4em;
}

.main-container{
    display: flex;
    max-width: 100%;
    flex: 1;
}

#content {
    height: 100%;
    max-width: 80%;
    flex: 4;
}

aside {
    height: 100%;
    min-width: 20%;
    flex: 1;
}

bottom {
    height: auto;
    flex: 0 0 auto;
}

/*屏幕大于960px时,PC端*/
@media only screen and (min-width: 960px){
    aside {
        display: block;
    }
    #content {
        height: 100%;
        max-width: 80%;
        flex: 4;
    }
}

/*屏幕小于960px时*/
@media only screen and (max-width: 960px){
    aside {
        display: none;
    }
    #content {
        height: 100%;
        max-width: 100%;
        flex: 4;
    }
}
